.btn-container {
    display: flex;
    justify-content: flex-end;
}
.success-message {
    margin-top: 10px;
    width: 100%;
  padding: 14px;
  background-color: #dff0d8;
  color: #468847;
  border-radius: 5px;
}
.error-message {
    margin-top: 10px;
    width: 100%;
    padding: 14px;
    background-color: #f0d0d3;
    color: red;
    border-radius: 5px;
}